.repositorycard {
  width: 90%;
  height: 200px;
  background: rgb(51, 51, 50);
  text-overflow: ellipsis;
  border-radius: 5px;
}

.repositorycard__title {
  margin-left: 5%;
  padding-right: 5%;
  height: 10%;
  font-size: 1.15rem;
  margin-bottom: 10%;
  color: rgb(165, 164, 164);
}

.repositorycard__title:hover {
  color: white;
}

.repositorycard__stats {
  width: 80%;
  height: 25%;
  margin: 5% auto;
  padding-top: 0.25%;
  justify-content: center;
  display: flex;
  @include prefix(user-select, none, webkit ms o moz);
}

.repositorycard__stats__stars,
.repositorycard__stats__pullrequests,
.repositorycard__stats__issues {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 2.5% 5%;
  line-height: 0.5;
  color: rgb(204, 203, 203);
}

.repositorycard__stats__tooltip {
  position: absolute;
  padding: 10%;
  height: min-content;
  width: calc(100% * 5);
  left: 35%;
  top: 30%;
  background: rgb(82, 82, 79);
  color: black;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-overflow: ellipsis;
  word-wrap: break-word;

  @include prefix(border-radius, 1px 8px 8px 8px, webkit ms o moz);
  @include prefix(text-overflow, ellipsis, webkit ms o moz);
}
